.main {
    background: #2e1e45;
    .curriculum {
        max-width: 1000px;
        min-height: 1000px;
        box-shadow: 0 35px 55px rgba(0, 0, 0, 0.9);
        .left-side {
            background-color: #612a52;
            flex-basis: 30%;

            h5 {
                color: #ccbca1;
                font-weight: bold;
            }

            .progress {
                background-color: #964881b4;
            }
            .progress-bar {
                background-color: #ff695c !important;
            }

            #title {
                .download {
                    font-size: x-large;
                    color: whitesmoke;
                }
                h4 {
                    color: #ea7c9b;
                    font-weight: bold;
                }
                h3 {
                    color: #ff695c;
                    font-weight: bold;
                }
                hr {
                    opacity: 0.5;
                }

                img {
                    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.9);
                }
            }

            #profile {
                text-align: justify;

                button {
                    all: unset;
                    cursor: pointer;
                    background-color: rgba(171, 107, 235, 0.215);
                }
            }

            #social-midias {
                a {
                    color: inherit;
                }
            }

            #education {
                h6 {
                    color: #ff695c;
                    font-weight: bold;
                }
            }
        }
        .right-side {
            background-color: rgb(247, 225, 249);
            flex-basis: 70%;

            h3 {
                font-weight: bold;
            }

            .progress {
                background-color: #9648811d;
            }

            .progress-bar {
                background-color: #ff695c !important;
            }

            #experience {
                text-align: justify;

                h5 {
                    color: #e52b1b;
                    font-weight: bold;
                }

                .responsive-screen {
                    #tempo-empresa-trieste {
                        width: 21.5%;
                    }
                    #mundo-da-mente {
                        width: 30%;
                    }
                    .w-fit-content {
                        width: fit-content;
                    }
                    #tempo-empresa-mapple {
                        width: 23%;
                        h6 {
                            font-size: smaller;
                        }
                    }
                    #tempo-empresa-unip {
                        width: 23%;
                        h6 {
                            font-size: smaller;
                        }
                    }
                    .year-company {
                        h6 {
                            color: #ba3259;
                        }
                    }

                    a {
                        color: inherit;
                    }
                }
            }

            #hard-skills {
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            // #certifications {
            //     .certificate {
            //         .certificate-itens {
            //             width: 201px;
            //             text-align: center;

            //             img {
            //                 max-width: 100%;
            //             }
            //         }
            //         img {
            //             width: 200px;
            //             height: 100px;
            //         }
            //     }
            // }
        }
    }

    i,
    svg {
        color: #ff695c;
    }

    img {
        width: 200px;
    }

    section {
        p,
        a {
            font-size: 16px;
        }
    }
}
@media (max-width: 1024px) {
    .main {
        .curriculum {
            margin: 3% !important;
            flex-direction: column;

            .left-side {
                .download {
                    display: none;
                }
                section {
                    margin: 0px !important;
                }
            }

            .right-side {
                #experience {
                    .responsive-screen {
                        flex-wrap: wrap;

                        #tempo-empresa-unip,
                        #tempo-empresa-trieste,
                        #tempo-empresa-mapple,
                        #mundo-da-mente {
                            width: 100%;
                        }
                    }

                    .fw-bolder {
                        margin: 0px;
                    }
                }
            }
        }

        section {
            p {
                font-size: larger;
            }
        }
    }
}

@media (max-width: 562px) {
    .main {
        .curriculum {
            .right-side {
                #certifications {
                    .certificate {
                        justify-content: center;
                    }
                }
            }
        }
        section {
            p {
                font-size: large;
            }
        }
    }
}
