.main {
    background: rgb(108, 76, 126);
    .curriculum {
        max-width: 1000px;
        min-height: 1000px;
        box-shadow: 0 35px 55px rgba(0, 0, 0, 0.9);
        .left-side {
            background-color: rgb(49, 31, 67);
            flex-basis: 30%;

            .progress {
                background-color: rgba(103, 65, 141, 0.516);
            }
            .progress-bar {
                background-color: rgb(171, 107, 235) !important;
            }

            #title {
                .download {
                    font-size: x-large;
                    color: whitesmoke;
                }
                h4 {
                    color: rgba(171, 107, 235, 0.67);
                    font-weight: bold;
                }
                h3 {
                    color: rgb(171, 107, 235);
                    font-weight: bold;
                }
                hr {
                    opacity: 0.5;
                }

                img {
                    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.9);
                }
            }

            #profile {
                text-align: justify;

                button {
                    all: unset;
                    cursor: pointer;
                    background-color: rgba(171, 107, 235, 0.215);
                }
            }

            #social-midias {
                a {
                    color: inherit;
                }
            }

            #education {
                h6 {
                    color: rgb(171, 107, 235);
                    font-weight: bold;
                }
            }
        }
        .right-side {
            background-color: rgb(247, 225, 249);
            flex-basis: 70%;

            h3 {
                font-weight: bold;
            }

            .progress {
                background-color: rgba(56, 50, 50, 0.111);
            }

            .progress-bar {
                background-color: rgb(171, 107, 235) !important;
            }

            #experience {
                text-align: justify;

                .responsive-screen {
                    #tempo-empresa-trieste {
                        width: 20.9%;
                    }
                    #mundo-da-mente {
                        width: 226%;
                    }
                    #tempo-empresa-mapple {
                        width: 22.2%;

                        h6 {
                            font-size: smaller;
                        }
                    }
                    #tempo-empresa-unip {
                        width: 22%;

                        h6 {
                            font-size: smaller;
                        }
                    }
                    .year-company {
                        h6 {
                            color: rgba(142, 74, 211, 0.721);
                        }
                    }

                    a {
                        color: inherit;
                    }
                }
            }

            #hard-skills {
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            // #certifications {
            //     .certificate {
            //         .certificate-itens {
            //             width: 201px;
            //             text-align: center;

            //             img {
            //                 max-width: 100%;
            //             }
            //         }
            //         img {
            //             width: 200px;
            //             height: 100px;
            //         }
            //     }
            // }
        }
    }

    h5 {
        color: rgb(143, 56, 230);
        font-weight: bold;
    }

    i,
    svg {
        color: rgb(171, 107, 235);
    }

    img {
        width: 200px;
    }

    section {
        p,
        a {
            font-size: small;
        }
    }
}
@media (max-width: 1024px) {
    .main {
        .curriculum {
            margin: 3% !important;
            flex-direction: column;

            .left-side {
                .download {
                    display: none;
                }
                section {
                    margin: 0px !important;
                }
            }

            .right-side {
                #experience {
                    .responsive-screen {
                        flex-wrap: wrap;

                        #tempo-empresa-unip,
                        #tempo-empresa-trieste,
                        #tempo-empresa-mapple {
                            width: 100%;
                        }
                    }

                    .fw-bolder {
                        margin: 0px;
                    }
                }
            }
        }

        section {
            p {
                font-size: larger;
            }
        }
    }
}

@media (max-width: 562px) {
    .main {
        .curriculum {
            .right-side {
                #certifications {
                    .certificate {
                        justify-content: center;
                    }
                }
            }
        }
        section {
            p {
                font-size: large;
            }
        }
    }
}

@media (max-width: 531px) {
    .main {
        section {
            p {
                font-size: medium;
            }
        }
    }
}

@media (max-width: 478px) {
    .main {
        section {
            p {
                font-size: smaller;
            }
        }
    }
}

@media (max-width: 407px) {
    .main {
        section {
            p {
                font-size: x-small;
            }
        }
    }
}
